.sec-service {
  margin: 4rem 6rem;
  color: #2a2a2a;
}

.sec-service h1 {
  font-size: 2.5rem;
}

.sec-service p {
  margin-bottom: 15px;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.s-card {
  width: 32%;
  text-align: center;
  box-shadow: 0 5px 25px 2px rgba(0, 0, 0, .2);
  border-radius: 7px;
  cursor: pointer;
  padding: 1rem .8rem;
}

.s-image {
  height: 200px;
  overflow: hidden;
  border-radius: 7px;
}

.s-image img {
  width: 100%;
  height: 100%;
  transition: all .4s ease-in-out;
  border-radius: 7px;
}

.s-image:hover img {
  transform: scale(1.2);
}

.s-card h4 {
  font-size: 1.2rem;
  padding: .9rem .2rem;
}

@media screen and (max-width:850px) {
  .sec-service {
    margin: 4rem 2rem;
  }

  .cards {
    flex-direction: column;
  }

  .s-card {
    width: 90%;
    margin: auto;
    margin-bottom: 1.5rem;

  }
}

@media screen and (max-width:650px) {
  .s-card {
    width: 100%;
    margin: auto;
    margin-bottom: 1.5rem;
  }

}