.NavbarItems {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .25);
  width: 96%;
  height: 70px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 10px;
  z-index: 9999;

}

.navbar-logo {
  color: #222;
  font-size: 1.8rem;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  /* display: grid;
  grid-template-columns: repeat(6, auto); */
  grid-gap: 10px;
  align-items: center;
  list-style: none;
}

.nav-links {
  text-decoration: none;
  color: #222;
  font-size: 1rem;
  font-weight: 500;
  padding: .5rem .8rem;
  white-space: nowrap;
}

.nav-links i {
  /* padding: 0 10px; */
  padding-right: 10px;
}

.nav-links:hover {
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  transition: all .4s ease-in-out;
}

.nav-links-mobile {
  display: none;
}

button {
  padding: .5rem .8rem;
  white-space: nowrap;
  border-radius: .3rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: all .4s ease-in-out;
}

button:hover {
  background-color: #151516;
  color: #fff;
}

.menu-icons {
  display: none;
}

.signup {
  display: block;
  text-align: center;
  margin: auto;
  border-radius: 5px;
  width: 100%;
  text-decoration: none;
  background-color: rgb(218, 29, 29);
  color: #fff;
  font-weight: 500;
  transition: .4s all;
}

@media screen and (max-width:850px) {
  .NavbarItems {
    z-index: 99;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
    height: auto;
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 0;
    align-items: center;
    padding: 80px 0 30px 0;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .25);
    border-radius: 10px;
  }

  .nav-menu.active {
    left: 0;
    opacity: 1;
    z-index: -1;
    transition: all .3s;

  }

  .nav-links {
    display: block;
    width: 100%;
    padding: .7rem 1.2rem;
    border-radius: 5px;
  }

  button {
    display: none;
  }

  .nav-links-mobile,
  .signup {
    display: block;
    text-align: center;
    padding: .5rem 2rem;
    margin: auto;
    border-radius: 5px;
    width: 100%;
    text-decoration: none;
    background-color: rgb(218, 29, 29);
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
  }

  .menu-icons {
    display: block;
    font-size: 1.5rem;
  }

}